<div class="financials-display-container">
  <div *ngIf="isShow" class="financials-display-title">Financials Summary</div>

  <div class="balance-container">
    <div>
      Total income: {{totalIncome}}
    </div>

    <div>
      Total expenses: {{expensesTotal}}
    </div>

    <div class="balance-item">
      Balance: {{balance}}
    </div>
  </div>

  <div class="savings-container">
    <div>
      Investment amount: {{totalInvestment}}
    </div>
    <div>
      Deposit amount: {{totalDeposit}}
    </div>
    <div>
      Crypto amount: {{totalCrypto}}
    </div>
  </div>

</div>
