<p *ngIf="!(categories$ | async)">please wait</p>

<form *ngIf="(categories$ | async) as categories" [formGroup]="expenseForm" (ngSubmit)="submit()">

  <div class="month-dropdown">
    <select formControlName="month">
      <option *ngFor="let month of Object.keys(Months)" [ngValue]="month">{{ month }}</option>
    </select>
  </div>

  <select formControlName="categoryId">
    <option [ngValue]="null" disabled>Select Category</option>
    <option *ngFor="let category of categories" [ngValue]="category.id">{{category.name}}</option>
  </select>
  <div>
    <label>amount</label>
    <input formControlName="amount" type="number">
  </div>
  <div>
    <label>year</label>
    <input formControlName="year" type="number">
  </div>
  <button type="submit">Submit</button>


</form>
