<form class="savings-form-container" [formGroup]="savingsForm" (ngSubmit)="submit()">
  <div class="savings-form-title">Add savings for {{savingsForm.get('month')!.value}}</div>

  <div class="form-fields-container">

    <div class="form-date-container ">
      <div class="month-dropdown form-input-container">
        <label class="date-input-label">Month</label>
        <select class="month-input-field" formControlName="month">
          <option *ngFor="let month of Object.keys(Months)" [ngValue]="month">{{ month }}</option>
        </select>
      </div>

      <div class="form-input-container">
        <label class="date-input-label">Year</label>
        <input class="year-input-field" formControlName="year" type="number">
      </div>
    </div>

    <div class="form-input-container">
      <label class="main-input-label">Income Amount</label>
      <input class="input-field" formControlName="incomeAmount" type="number">
    </div>


    <div class="form-input-container">
      <label class="main-input-label">Investment Amount</label>
      <input class="input-field" formControlName="investmentAmount" type="number">
    </div>

    <div class="form-input-container">
      <label class="main-input-label">Deposit Amount</label>
      <input class="input-field" formControlName="depositAmount" type="number">
    </div>

    <div class="form-input-container">
      <label class="main-input-label">Crypto Amount</label>
      <input class="input-field" formControlName="cryptoAmount" type="number">
    </div>
  </div>

  <button class="submit-btn" type="submit" [disabled]="savingsForm.invalid">Submit</button>

</form>
