.category-list-container{
  display: flex;
  justify-content: center;
  background-color: lightblue;
  padding: 7px;
  max-height: 80vh;
  overflow-y: auto;
}
.category-list-title{
  font-weight: bold;
  color: #4b6dff;
}
