.form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 96%;

}

.expenses-page-container {
  padding: 20px;
  border: 1px solid #ccc;
  font-family: sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  background-color: #eaeeff;
  max-height: 1000px;
}

.monthly-expenses-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.monthly-expenses-title {
  font-size: 24px;
  margin: 10px 0;
  color: #947da9;

}

.month-dropdown select {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}

.month-dropdown{
  margin: auto;
}
.header{
  display: flex;
  justify-content: space-between;
}

.year-input-field{
  width: 45px;
  margin-left: 5px;
}


.sort-input-field{
  width: 75px;
}
p {
  font-size: 18px;
  color: #666;
  margin-top: 20px;
}
.all-expenses-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-height: 580px;
}

.expense-container{
  display: flex;
  justify-content: space-between;
  width: 27%;
  margin: 10px 30px;
}

.category-name{
  color: #7749a1;
  cursor: pointer;
}


div p {
  font-size: 16px;
  color: #333;
}

.total-amount{
  margin-top: 20px;
}

.month-options{
  display: flex;
  align-items: center;
  gap: 6px;
  width: 22%;
  margin: auto;
}

.month-arrow{
  font-size: 18px;
  cursor: pointer;
}
