<div class="expenses-container">
  <div class="monthly-expenses-title-container">
    <div class="monthly-expenses-title">{{selectedMonth}} Expenses</div>
    <div class="month-dropdown">
      <select  [(ngModel)]="selectedMonth" (change)="onMonthClicked()">
      <option *ngFor="let month of monthsOptions" [value]="month">{{ month }}</option>
    </select>
    </div>

  </div>


  <p *ngIf="showSpinner">please wait</p>
  <div *ngFor="let category of categoriesNames">
    <p>{{ category }}: {{ expensesByCategories[category] | currency:'ILS' }}</p>
  </div>
</div>
