<div class="expenses-page-container">
  <div class="monthly-expenses-title-container">
    <div class="monthly-expenses-title">{{selectedMonth}} Expenses</div>
    <div class="month-dropdown">
      <select  [(ngModel)]="selectedMonth" (change)="onMonthClicked()">
        <option *ngFor="let month of monthsOptions" [value]="month">{{ month }}</option>
      </select>
    </div>

  </div>
  <fa-icon *ngIf="showSpinner" [icon]="faSpinner" class="fa-solid fa-spinner fa-spin-pulse"></fa-icon >
  <div *ngIf="!showSpinner" class="all-expenses-container">
    <div class="expense-container" *ngFor="let category of categoriesNames">
      <div class="category-name">{{ category }}:</div>
      <div class="category-amount">{{ expensesByCategories[category] | currency:'ILS' }}</div>
    </div>
  </div>

</div>
