<nav class="navbar">
  <div class="env-container" *ngIf="(isProduction$ | async) as envRes">
    <fa-icon *ngIf="envRes.isProduction==true" [icon]="faToggleOn" class="fa-regular fa-toggle-on toggle-icon toggle-on"></fa-icon>
    <fa-icon *ngIf="envRes.isProduction==false" [icon]="faToggleOff" class="fa-solid fa-toggle-off toggle-icon"></fa-icon>
 </div>

  <ul class="nav-list">
    <li class="nav-item">
      <a routerLink="/main" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a routerLink="/add" routerLinkActive="active">Add Expenses</a>
    </li>
    <li class="nav-item">
      <a routerLink="/financials" routerLinkActive="active">Financials</a>
    </li>
    <li class="nav-item">
      <a routerLink="/stats" routerLinkActive="active">Stats</a>
    </li>
    <li class="nav-item">
      <a routerLink="/admin" routerLinkActive="active">Admin</a>
    </li>
  </ul>
</nav>
