<form class="financials-form-container" [formGroup]="financialsForm" (ngSubmit)="submit()">
  <div class="financials-form-title">Add financials for {{this.month}}</div>

  <div class="form-fields-container">

    <div class="type-dropdown form-input-container">
      <label class="input-label">Financial activity:</label>
      <select class="input-field" formControlName="type">
        <option *ngFor="let type of Object.keys(FinancialActivitiesTypes)" [ngValue]="type">{{ type }}</option>
      </select>
    </div>

    <div class="form-input-container">
      <label class="input-label">Amount</label>
      <input class="input-field" formControlName="amount" type="number">
    </div>


  </div>

  <button class="submit-btn" type="submit" [disabled]="financialsForm.invalid">Submit</button>

</form>
